.square-login{
	margin-top: 20%;
	border: 2px solid #777777;
	padding: 20px;
	background-color: #FFFFCC;
}
.yellow{
	background-color: #FFFFCC;
}
.square-account{
	border: 2px solid #777777;
	padding: 20px;
	background-color: #FFFFCC;
}